!@{
    var bodyClass = ViewBag.BodyClass ?? "layout--default";
    var shortTitle = ViewData["Title"] as string ?? ViewBag.Title as string ?? "";
    var title = string.IsNullOrWhiteSpace(shortTitle) ? "DotNetMud" : $"DotNetMud: {shortTitle}";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex, nofollow" />
    <title>@title</title>
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Stylesheets", required: false)
</head>
<body class="@bodyClass">
    @RenderBody()
    <div id="scripts">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/js/site.js"></script>
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
